<div class="jumbotron">
		<h1>Welcome to Vanilla Blog!</h1>
	<p>A clean and simple way to chat</p>
	<div class = "buttons">
		<% if user_signed_in? %>
			<p><a href="/dashboard/index" class="btn btn-primary btn-lg" role="button">Go to Dashboard</a></p>
		<%else%>
			<p><a href="/users/sign_up/" class="btn btn-primary btn-lg" role="button">Sign up</a></p>	
		<%end%>
	</div>

</div>